
#container{
    border: none;
    display: grid;
    grid-template-columns: 50% 50%;
}
    .imagesee.svg{
    margin: 0 auto;
    border-width: solid crimson;
    border: none;
    border:top 2px;
    border: :right 2px  min-height: 100vh;
    position:absolute;
    }
    .form{
       margin: 0 auto;               
        border: none;
      margin: 20%;
      padding: 20%;
    }
    .icon{
        display: flex;
        justify-content: space-around;
        margin: left 40%;
    }
    .input{
        width: 95%;
    }
    button{
        width: 100%;
        height: 40px;
        font-size: larger;
        color: white;
        background-color: crimson;
    }

    
